/*Main Formatting*/
body {
	display: flex;
	justify-content: space-evenly;
	font-family: 'Poppins', sans-serif;
	background-color: #E7F1F1;
	height: 100vh;
	margin: 0;
}

main {
	display:flex;
	flex-direction:column
}

header {
	font-weight: 800;
	font-style: bold;
	font-size: 82px;
	margin-bottom: 72px;
	margin-top: 72px;
}

p {
	font-weight: 400;
	font-size: 22px;
	margin-top: 5px;
	background-color: none;
}


/*Classes*/
.left-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex;
	width: 70%;
}

.right-display {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-left: solid 8px black;
}

.palette {
	display: flex;
	justify-content: space-around;
	align-items: space-around;
}

.color-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	margin: 7px;
	width: 146px;
	height: 146px;
	border: 4px solid black;
}

.buttons{
	width: 70%;
	display: flex;
	align-items: space-around;
	justify-content: space-evenly;
}

.main-buttons {
	color: white;
	background-color: black;
	border: black;
	width: 280px;
	height: 60px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 31px;
	border-radius: 0px 3em 0px 3em;
	margin-top: 2em;
	cursor: pointer;
}

.lock {
	margin-right: 1em;
	margin-bottom: 1em;
	display: none;
}

label {
	cursor: pointer;
}

label img {
	width: 50px;
}

.lock:checked + label img {
	content: url(assets/locked.png);
}

/*Specifc ID*/
#box1 {
	background-color: #EA9999;
}

#box2 {
	background-color: #FACB9C;
}

#box3 {
	background-color: #FFE59A;
}

#box4 {
	background-color: #B6D7A8;
}

#box5 {
	background-color: #A4C4CA;
}